$black: black;
$color-header: #0B0E14;
$color-menu: #E6E8EE;
$color-hover: #5A8DEE;
$texto-secundaria: #9BA4B5;
$color-fondo-hover: #1A1F33;
$fondo-main: #121826;
$fondo-footer: #0A0D1A;
$color-texto-footer: #8A92A6;
$color-borde-footer: #ffffff;
$texto-hover-activo: #3A7BD5;
$texto-hover-footer: #0BC5EA;
$texto-hover-footer-activo: #E879F9;
$h2-footer: #8B949E;
$footer-color: #181818;
$button-header: #dadada;
$buscador: rgba(9, 13, 23, 0.6);
$buscador-hover: rgba(98, 96, 96, 0.6);
$nav-flotante: rgba(18, 32, 62, 0.8);

@mixin transition($property, $duration, $timing: linear) { //Creo la transición para el navegador
    -webkit-transition: $property $duration $timing;
    -moz-transition: $property $duration $timing;
    -o-transition: $property $duration $timing;
    transition: $property $duration $timing;
}

@mixin animation($name, $duration, $timing: linear) { //Creo la animacion para el hover
    -webkit-animation: $name $duration $timing;
    -moz-animation: $name $duration $timing;
    -o-animation: $name $duration $timing;
    animation: $name $duration $timing;
}

@keyframes mi-animacion { // Hace que la animacion salga suavemente
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin responsive($size) { // Hago un @mixin para reutilizar las medida segun la pantalla

    // Pantalla grande
    @if $size == medium {
        @media (min-width: 801px) {
        @content
        }
    }

    // Pantalla pequeña
    @else if $size == small {
        @media (max-width: 800px) {
            @content; 
        }
    }
}


*
{
    margin: 0;
}
body 
{
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    header 
    {
        background-image: url("../img/Planetafondo.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 100vh; 
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0;

        > div:first-child
        {
            background-color: rgba(18, 32, 62, 0.8);
            position: fixed; // Al ser fixed, no afecta al centrado flex del resto
            top: 0;
            z-index: 2;
            width: 100%;
            > ul 
            {
                display: flex;
                list-style: none;

                li:first-child
                {
                    padding-right: 1%;
                    img 
                    {
                        width: 110px;
                        height: 70px;
                        border-radius: 40px;
                    }
                }
                li:nth-child(2) 
                {
                    align-items: center;
                    display: flex;
                    position: relative;
                    padding-right: 32%;
                    a 
                    {
                        text-decoration: none;
                        text-align: center;
                        display: initial;
                        align-items: center;
                        color: $color-menu;
                        font-size: 15px;
                        padding-left: 60px;
                        text-align: center;

                        &:hover {
                            color: $color-hover;
                        }
                    }
                    div 
                    {
                        position: relative;

                        a 
                        {
                            display: initial;
                        }

                        &:hover 
                        {
                            ul 
                            {
                                display: block;
                            }
                        }

                        ul 
                        {
                            position: absolute;
                            top: 100%;
                            left: 50px;
                            background-color: $nav-flotante;
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            display: none;
                            flex-direction: column;
                            min-width: 110px;

                            
                            li 
                            {
                                padding: 10px 10px;
                                margin: 0;
                                a 
                                {
                                    color: $color-menu;
                                    font-size: 15px;
                                    display: inline-block;
                                    padding: 0;
                                    margin: 0;
                                }

                                @include transition(all, 0.5s, ease);

                                &:hover {
                                    background-color: $color-fondo-hover;
                                }
                                
                            }
                            
                        }
                    }
                }
                li:last-child 
                {
                    position: relative;
                    display: flex;
                    align-items: center;
                    
                    button 
                    {
                        background-color: $buscador;
                        border-radius: 100px;
                        border-style: none;
                        
                        &:hover
                        {
                            background-color: $buscador-hover;
                        }
                        img
                        {
                            border-radius: 100px;
                            width: 40px;
                            height: 40px;
                            border-radius: 20px;
                        }
                    }
                    input 
                    {
                        width: 100%;
                        height: 30px;
                        border-radius: 5px;
                        color: $color-header;
                        font-weight: bold;

                        @include transition(all, 0.5s, linear);

                        &:hover 
                        {
                            padding-right: 140px;
                        }
                    }
                }
            }
        }
        div:last-child
        {
            text-align: center;
            color: white;
            z-index: 1;
            font-family:monospace;

            h1 
            {
                font-size: 5em;
                font-style: italic;
                margin-bottom: 40px;
                text-shadow: 10px 10px 2px $black;
            }
            a 
            {
                button 
                {
                    border-color: $color-borde-footer;
                    border-style: none;
                    border-radius: 20px;
                    padding: 10px 50px;
                    font-size: 1.2em;

                    @include transition(all, 0.4s, linear);

                    &:hover 
                    {
                        background-color: $texto-hover-activo;
                        color: $color-menu;
                    }
                }
            }
        }
    }
    main 
    {

    }
    footer 
    {
        padding: 50px 16% 20px 16%;
        background-color: $footer-color;
        border-color: $color-borde-footer;

        article:first-child
        {
            section:first-of-type
            {
                display: flex;
                justify-content: space-around;
                text-align: center;
                padding: 40px 0;
                ul 
                {
                    h2 
                    {
                        color: $color-menu;
                        font-size: 15px;
                    }
                    li 
                    {
                        padding: 15px 0;
                        list-style: none;
                        a 
                        {
                            font-size: 11px;
                            color: $color-menu;
                            text-decoration: solid;
                        }
                    }
                }
            }
            section:last-of-type
            {
                border-top: 1px solid $texto-secundaria;
                border-bottom: 1px solid $texto-secundaria;
                padding: 50px 0;

                ul 
                {
                    display: flex;
                    justify-content: space-around;
                    li 
                    {
                        list-style: none;
                        a 
                        {
                            color: $color-borde-footer;
                            text-decoration: none;
                            font-size: 14px;

                            img
                            {
                                width: 16px;
                                height: 16px;
                                border-radius: 1px;
                            }
                        }
                    }
                }
            }
        }
        article:last-child
        {
            padding: 120px 15% 0 15%;
            color: $color-texto-footer;
            p
            {
                padding: 10px;
                text-align: center;
                font-size: 10px;
            }
        }
    }
}